[MESSAGES CONTROL]
disable=
    missing-class-docstring,
    no-else-raise,
    missing-function-docstring,
    no-else-raise,
    missing-module-docstring,
    unused-import,
    unused-argument,
    too-few-public-methods,
    pointless-string-statement,
    consider-using-in,
    too-many-locals,
    invalid-name,
    inconsistent-return-statements,
    too-many-instance-attributes,