[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
birman = "0.0.2"
sphinx-rtd-theme = "*"

[dev-packages]
pytest = "*"
gunicorn = "*"
sphinx = "*"
pylint = "2.15.6"
pytest-deprecate = "*"
tox = "*"
pip = "*"
sphinx-rtd-theme = "*"
